@r:20rem;
html{
    height: 100%;
    overflow: hidden;
}
body{
    height: 100%;
    overflow: auto;
    font-family: arial,"Microsoft Yahei",sans-serif;
    box-sizing: border-box;
    background: #eeeeee;
}

.header{
    width: 100%;
    height: 144/@r;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    .date{
        font-size: 42/@r;
        color: #333333;
        text-align: center;
        padding-top: 24/@r;
        span{
            color: #a6a6a6;
            margin: 0 30/@r;
        }
    }
    .addr{
        font-size: 26/@r;
        color: #333333;
        text-align: center;
        margin-top: 24/@r;
        span:nth-child(2){
            margin: 0 22/@r;
        }
    }
}

.top-show{
    width: 100%;
    background: #fff;
    a{
        display: block;
        img{
            width: 1080/@r;
            height: 720/@r;
        }
    }
    .title{
        font-size: 32/@r;
        color: #808080;
        text-align: center;
        padding-top: 40/@r;
        i{
            display: inline-block;
            vertical-align: top;
            width: 1px;
            height: 32/@r;
            background: #808080;
            margin: 0 14/@r;
        }
    }
    .desc{
        padding: 0 120/@r 0 110/@r;
        font-size: 36/@r;
        color: #333333;
        line-height: 80/@r;
        margin-top: 60/@r;
    }
    .addr{
        font-size: 32/@r;
        color: #8b8b8b;
        text-align: center;
    }
    .info{
        height: 120/@r;
        margin-top: 98/@r;
        span:nth-child(1){
            float: left;
            .count{
                display: inline-block;
                vertical-align: top;
                width: 238/@r;
                height: 120/@r;
                line-height: 120/@r;
                font-size: 32/@r;
                color: #848484;
                background: url(../images/count.jpg) no-repeat 46/@r 30/@r;
                background-size: 58/@r 58/@r;
                padding-left: 122/@r;
            }
        }
        span:nth-child(2){
            float: right;
            a{
                float: left;
            }
            .support{
                width: 186/@r;
                height: 120/@r;
                background: url(../images/support.jpg) no-repeat;
                background-size: 186/@r 120/@r;
                position: relative;
                i{
                    font-size: 24/@r;
                    color: #a6a6a6;
                    position: absolute;
                    right: 0;
                    top: 28/@r;
                }
            }
            .collect{
                width: 120/@r;
                height: 120/@r;
                background: url(../images/collect.jpg) no-repeat;
                background-size: 120/@r 120/@r;
            }
            .share{
                width: 166/@r;
                height: 120/@r;
                background: url(../images/share.jpg) no-repeat;
                background-size: 166/@r 120/@r;
            }
        }
    }
}

.column-info{
    width: 100%;
    height: 120/@r;
    background: #fff;
    text-align: center;
    margin: 15/@r 0;
    span{
        display: inline-block;
        font-size: 38/@r;
        color: #808080;
        line-height: 120/@r;
    }
    i{
        display: inline-block;
        width: 28/@r;
        height: 16/@r;
        background: url(../images/arrow-b.jpg) no-repeat right center;
        background-size: 28/@r 16/@r;
        margin: 54/@r 0 0 14/@r;
    }
}

.column{
    width: 100%;
    background: #fff;
    margin-bottom: 30/@r;
    a{
        display: block;
        padding: 0 60/@r;
        .column-name{
            font-size: 32/@r;
            color: #828282;
            text-align: center;
            display: block;
            padding: 40/@r 0 52/@r 0;
        }
        .title{
            font-size: 53/@r;
            color: #333333;
            display: block;
            text-align: left;
            line-height: 82/@r;
        }
        .author{
            display: block;
            font-size: 38/@r;
            color: #808080;
            padding: 46/@r 0 40/@r 0;
        }
        img{
            width: 960/@r;
            height: 573/@r;
        }
        .desc{
            display: block;
            font-size: 38/@r;
            color: #808080;
            line-height: 80/@r;
            padding-right: 48/@r;
            margin-top: 20/@r;
        }


    }
    .info{
        display: block;
        height: 120/@r;
        padding-left: 60/@r;
        margin-top: 48/@r;
        .date{
            float: left;
            font-size: 32/@r;
            color: #a6a6a6;
            line-height: 120/@r;
        }
        .sup-share{
            float: right;
            height: 120/@r;
             b{
                display: inline-block;
                vertical-align: top;
            } 
            .support{
                display: inline-block;
                vertical-align: top;
                width: 186/@r;
                height: 120/@r;
                background: url(../images/support.jpg) no-repeat;
                background-size: 186/@r 120/@r;
                position: relative;
                i{
                    font-size: 24/@r;
                    color: #a6a6a6;
                    position: absolute;
                    right: 0;
                    top: 28/@r;
                }
            }
            .share{
                width: 166/@r;
                height: 120/@r;
                background: url(../images/share.jpg) no-repeat;
                background-size: 166/@r 120/@r;
            }
        }
    }
}
.ad{
    width: 100%;
    background: #fff;
    boder: 1px solid #000;
    margin: 0 0 30/@r;
    padding: 52/@r 100/@r;
    position: relative;
    img{
        width: 880/@r;
        height: 1317/@r;
    }
    span{
        width: 130/@r;
        height: 50/@r;
        line-height: 48/@r;
        border: 1px solid #cecece;
        border-radius: 10/@r;
        font-size: 28/@r;
        color: #fff;
        text-align: center;
        background: rgba(0,0,0,0.3);
        position: absolute;
        left: 50%;
        top: 36/@r;
        margin-left: -65/@r;

    }
}

.music{
    a{
        text-align: center;
        .author{
            text-align: left;
        }
        img{
            width: 596/@r;
            height: 596/@r;
            position: relative;
            z-index: 2;
        }
        i{
            display: block;
            position: relative;
            .line{
                width: 480/@r;
                height: 2/@r;
                background: url(../images/music-line.jpg) no-repeat;
                background-size: 480/@r 2/@r;
                position: absolute;
                left: 0;
            }
            .top{
                top: 0;
            }
            .bottom{
                bottom: 0;
            }
            .music-player-logo{
                width: 75/@r;
                height: 75/@r;
                background: url(../images/music-player-logo.jpg) no-repeat;
                background-size: 75/@r 75/@r;
                position: absolute;
                left: 0;
                bottom: 24/@r;
            }
            .music-bg{
                width: 51/@r;
                height: 600/@r;
                background: url(../images/music-bg.jpg) no-repeat;
                background-size: 51/@r 600/@r;
                position: absolute;
                top: 0;
                right: 0
            }
            .play-btn{
                width: 120/@r;
                height: 120/@r;
                border-radius: 50%;
                background: url(../images/play-btn.png) no-repeat 40/@r 32/@r rgba(0,0,0,0.6);
                background-size: 50/@r 56/@r;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -60/@r 0 0 -60/@r;
                z-index: 10;
            }
        }
        em{
            display: block;
            text-align: left;
            i{
                display: inline-block;
                font-size: 20/@r;
                margin: 0 10/@r;
            }
        }
        .music-name{
            font-size: 28/@r;
            color: #a6a6a6;
            line-height: 134/@r;
        }
         .music-desc{
            font-size: 38/@r;
            color: #808080;
            margin-bottom: 68/@r;
        }
    }
}

.movie{
    a{
        text-align: center;
        .author{
            text-align: left;
        }
        i{
            height: 600/@r;
            display: block;
            position: relative;
            padding-top: 45/@r; 
            img{
                width: 960/@r;
                height: 510/@r;
            }
            .line{
                width: 960/@r;
                height: 30/@r;
                background: url(../images/moveie-bg.png) repeat-x;
                background-size: 50/@r 30/@r;
                position: absolute;
                left: 0;
            }
            .top{
                top: 0;
            }
            .bottom{
                bottom: 0;
            }
        }
        em{
            display: block;
            font-size: 38/@r;
            color: #808080;
            line-height: 58/@r;
        }
        .movie-desc{
            text-align: left;
            margin-top: 42/@r;
            
        }
        .movie-src{
            text-align: right;
            margin-bottom: 58/@r;
        }
    }
}

.radio{
    width: 100%;
    height: 720/@r;
    background: url(../images/radio-bg.jpg) no-repeat;
    background-size: 1080/@r 720/@r;
    position: relative;
    h5{
        font-size: 34/@r;
        color: #c3c1c7;
        text-align: center;
        padding-top: 520/@r;
    }
    .info{
        width: 100%;
        height: 120/@r;
        border-top: 2px solid #555567;
        position: absolute;
        left: 0;
        bottom: 0;
        .wifi-icon{
            float: left;
            width: 149/@r;
            height: 118/@r;
            background: url(../images/wifi-icon.jpg) no-repeat;
            background-size: 149/@r 118/@r;
        }
        .sup-share{
            float: right!important;
            height: 118/@r;
             b{
                display: inline-block;
                vertical-align: top;
            } 
            .support{
                display: inline-block;
                vertical-align: top;
                width: 142/@r;
                height: 118/@r;
                background: url(../images/radio-support.jpg) no-repeat;
                background-size: 142/@r 118/@r;
                position: relative;
                i{
                    font-size: 24/@r;
                    color: #a6a6a6;
                    position: absolute;
                    right: 0;
                    top: 28/@r;
                }
            }
            .share{
                width: 166/@r;
                height: 118/@r;
                background: url(../images/radio-share.jpg) no-repeat;
                background-size: 166/@r 118/@r;
            }
        }
    }

}

.refresh{
    width: 100%;
    height: 515/@r;
    img{
        width: 1080/@r;
        height: 515/@r;
        display: inline-block;
        vertical-align: top;
    }
}

.menu{
    width: 100%;
    height: 150/@r;
    display: flex;
    justfify-content: space-center;
    .btn{
        width: 240/@r;
        height: 150/@r;
        background: red;

    }
}