html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  overflow: auto;
  font-family: arial, "Microsoft Yahei", sans-serif;
  box-sizing: border-box;
  background: #eeeeee;
}
.header {
  width: 100%;
  height: 7.2rem;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}
.header .date {
  font-size: 2.1rem;
  color: #333333;
  text-align: center;
  padding-top: 1.2rem;
}
.header .date span {
  color: #a6a6a6;
  margin: 0 1.5rem;
}
.header .addr {
  font-size: 1.3rem;
  color: #333333;
  text-align: center;
  margin-top: 1.2rem;
}
.header .addr span:nth-child(2) {
  margin: 0 1.1rem;
}
.top-show {
  width: 100%;
  background: #fff;
}
.top-show a {
  display: block;
}
.top-show a img {
  width: 54rem;
  height: 36rem;
}
.top-show .title {
  font-size: 1.6rem;
  color: #808080;
  text-align: center;
  padding-top: 2rem;
}
.top-show .title i {
  display: inline-block;
  vertical-align: top;
  width: 1px;
  height: 1.6rem;
  background: #808080;
  margin: 0 0.7rem;
}
.top-show .desc {
  padding: 0 6rem 0 5.5rem;
  font-size: 1.8rem;
  color: #333333;
  line-height: 4rem;
  margin-top: 3rem;
}
.top-show .addr {
  font-size: 1.6rem;
  color: #8b8b8b;
  text-align: center;
}
.top-show .info {
  height: 6rem;
  margin-top: 4.9rem;
}
.top-show .info span:nth-child(1) {
  float: left;
}
.top-show .info span:nth-child(1) .count {
  display: inline-block;
  vertical-align: top;
  width: 11.9rem;
  height: 6rem;
  line-height: 6rem;
  font-size: 1.6rem;
  color: #848484;
  background: url(../images/count.jpg) no-repeat 2.3rem 1.5rem;
  background-size: 2.9rem 2.9rem;
  padding-left: 6.1rem;
}
.top-show .info span:nth-child(2) {
  float: right;
}
.top-show .info span:nth-child(2) a {
  float: left;
}
.top-show .info span:nth-child(2) .support {
  width: 9.3rem;
  height: 6rem;
  background: url(../images/support.jpg) no-repeat;
  background-size: 9.3rem 6rem;
  position: relative;
}
.top-show .info span:nth-child(2) .support i {
  font-size: 1.2rem;
  color: #a6a6a6;
  position: absolute;
  right: 0;
  top: 1.4rem;
}
.top-show .info span:nth-child(2) .collect {
  width: 6rem;
  height: 6rem;
  background: url(../images/collect.jpg) no-repeat;
  background-size: 6rem 6rem;
}
.top-show .info span:nth-child(2) .share {
  width: 8.3rem;
  height: 6rem;
  background: url(../images/share.jpg) no-repeat;
  background-size: 8.3rem 6rem;
}
.column-info {
  width: 100%;
  height: 6rem;
  background: #fff;
  text-align: center;
  margin: 0.75rem 0;
}
.column-info span {
  display: inline-block;
  font-size: 1.9rem;
  color: #808080;
  line-height: 6rem;
}
.column-info i {
  display: inline-block;
  width: 1.4rem;
  height: 0.8rem;
  background: url(../images/arrow-b.jpg) no-repeat right center;
  background-size: 1.4rem 0.8rem;
  margin: 2.7rem 0 0 0.7rem;
}
.column {
  width: 100%;
  background: #fff;
  margin-bottom: 1.5rem;
}
.column a {
  display: block;
  padding: 0 3rem;
}
.column a .column-name {
  font-size: 1.6rem;
  color: #828282;
  text-align: center;
  display: block;
  padding: 2rem 0 2.6rem 0;
}
.column a .title {
  font-size: 2.65rem;
  color: #333333;
  display: block;
}
.column a .author {
  display: block;
  font-size: 1.9rem;
  color: #808080;
  padding: 2.3rem 0 2rem 0;
}
.column a img {
  width: 48rem;
  height: 28.65rem;
}
.column a .desc {
  display: block;
  font-size: 1.9rem;
  color: #808080;
  line-height: 4rem;
  padding-right: 2.4rem;
  margin-top: 1rem;
}
.column .info {
  display: block;
  height: 6rem;
  padding-left: 3rem;
  margin-top: 2.4rem;
}
.column .info .date {
  float: left;
  font-size: 1.6rem;
  color: #a6a6a6;
  line-height: 6rem;
}
.column .info .sup-share {
  float: right;
  height: 6rem;
}
.column .info .sup-share b {
  display: inline-block;
  vertical-align: top;
}
.column .info .sup-share .support {
  display: inline-block;
  vertical-align: top;
  width: 9.3rem;
  height: 6rem;
  background: url(../images/support.jpg) no-repeat;
  background-size: 9.3rem 6rem;
  position: relative;
}
.column .info .sup-share .support i {
  font-size: 1.2rem;
  color: #a6a6a6;
  position: absolute;
  right: 0;
  top: 1.4rem;
}
.column .info .sup-share .share {
  width: 8.3rem;
  height: 6rem;
  background: url(../images/share.jpg) no-repeat;
  background-size: 8.3rem 6rem;
}
.ad {
  width: 100%;
  background: #fff;
  boder: 1px solid #000;
  margin: 0 0 1.5rem;
  padding: 2.6rem 5rem;
  position: relative;
}
.ad img {
  width: 44rem;
  height: 65.85rem;
}
.ad span {
  width: 6.5rem;
  height: 2.5rem;
  line-height: 2.4rem;
  border: 1px solid #cecece;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  top: 1.8rem;
  margin-left: -3.25rem;
}
